@font-face {
    font-family: "Helvetica";
    src: url("../fonts/helvetica_regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Onyx";
    src: url("../fonts/onyx_regular.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "legothick";
    src: url("../fonts/legothick.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "AvantGarde";
    src: url("../fonts/avant_garde.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Druk";
    src: url("../fonts/DrukCyr_Medium.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Pricedown";
    src: url("../fonts/pricedown.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Futura";
    src: url("../fonts/FuturaDemiC_Italic.ttf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Nimbus";
    src: url('../fonts/NimbusSanL-Regu.ttf');
}

@font-face {
    font-family: "Styrene";
    src: url('../fonts/StyreneAWeb-Black.ttf');
}