body {
    overflow: hidden;
}

.about {
    display: none;
}

.white_bg {
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 23.93%);
}

.green_bg {
    background-color: #90927C;
}

.green_bg .tooltip {
    background-color: #A7C0FF;
}

.green_bg .tooltip .popuptext {
    background-color: #A7C0FF;
}

.green_bg footer {
    color: #A7C0FF;
    border-top: 1px solid #A7C0FF;
}

.green_bg .hse_logo {
    fill: #EBADAD;
}

header {
    position: absolute;
    display: flex;
}

.box_white {
    margin: 8px 8px 0 8px;
    padding: 6px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
    width: max-content;
    text-decoration: none;
    cursor: pointer;

}

p {
    font-family: "Times New Roman";
    font-size: 18px;
    font-weight: 400;
    width: max-content;
}

main {
    height: 100vh;
    display: flex;
    background-image: url(../images/bg.svg);
    background-size: 100%;
}

main::-webkit-scrollbar {
    width: 0;
}

.card {
    margin-right: 8px;
    padding: 40px;
    border-radius: 40px;
    border-color: black;
    border: 1px solid;
    width: 30vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.tooltip {
    width: 2vw;
    height: 2vw;
    background-color: #172FF2;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
    font-size: 2vw;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip .popuptext {
    visibility: hidden;
    background-color: #172FF2;
    color: black;
    text-align: center;
    border-radius: 50px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.popuptext {
    width: max-content;
}

.tooltip .show {
    visibility: visible;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.mcdonalds {
    background-image: url(../images/mcdonalds.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vw;
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 300px;
    cursor: grab;
}

.mcdonalds .tooltip {
    top: 40%;
    left: 70%;
}

.nirvana {
    background-image: url(../images/nirvana.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 21vw;
    height: 21vw;
    position: absolute;
    z-index: 99;
    top: 300px;
    left: 100px;
    cursor: grab;
}

.nirvana .tooltip {
    top: 70%;
    right: 5%;
}

.lego{
    background-image: url(../images/lego.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 21vw;
    height: 35vw;
    position: absolute;
    z-index: 98;
    top: 200px;
    left: 600px;
    cursor: grab;
}

.lego .tooltip {
    top: 30%;
    left: 60%;
}

.adidas {
    background-image: url(../images/adidas.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 18vw;
    position: absolute;
    z-index: 97;
    top: 350px;
    right: 60px;
    cursor: grab;
}

.adidas .tooltip {
    top: 20%;
    left: 60%;
}

.hse {
    background-image: url(../images/hse.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 38vw;
    height: 32vw;
    position: absolute;
    z-index: 96;
    bottom: -120px;
    right: 90px;
    cursor: grab;
}

.hse .tooltip {
    top: 20%;
    left: 20%;
}

.gta {
    background-image: url(../images/gta.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 32vw;
    position: absolute;
    z-index: 95;
    top: 50px;
    right: 250px;
    cursor: grab;
}

.gta .tooltip {
    top: 25%;
    left: 35%;
}

.supreme {
    background-image: url(../images/supreme.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    height: 6vw;
    position: absolute;
    z-index: 94;
    top: 80px;
    left: 50px;
    cursor: grab;
}

.supreme .tooltip {
    top: -15px;
    left: 45%;
}

.s7 {
    background-image: url(../images/s7.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 50vw;
    height: 20vw;
    position: absolute;
    z-index: 98;
    top: 80px;
    right: -350px;
    cursor: grab;
}

.s7 .tooltip {
    top: 10px;
    left: 17%;
}

.alfabank {
    background-image: url(../images/alfabank.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 10vw;
    height: 15vw;
    position: absolute;
    z-index: 93;
    bottom: -60px;
    left: 400px;
    cursor: grab;
}

.alfabank .tooltip {
    top: 30px;
    left: 50%;
}

.redbull {
    background-image: url(../images/redbull.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vw;
    height: 20vw;
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 45%;
    cursor: grab;
}

.redbull .tooltip {
    top: 30%;
    left: 75%;
}


.info_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card p {
    font-size: 40px;

}

.button_info {
    padding: 6px 9px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
    width: max-content;
    text-decoration: none;
}

.helvetica {
    font-family: "Helvetica";
}

.onyx {
    font-family: "Onyx";
    text-transform: uppercase;
}

.legothick {
    font-family: "legothick";
}

.AvantGarde {
    font-family: "AvantGarde";
}

.Druk {
    font-family: "Druk";
    text-transform: uppercase;
}

.Pricedown {
    font-family: "Pricedown";
}

.Futura {
    font-family: "Futura";
}

.Nimbus {
    font-family: "Nimbus";
}

.Styrene {
    font-family: "Styrene";
}

footer {
    padding: 20px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hse_logo {
    width: 194px;
    height: 73px;
    fill: black;
}



#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
  
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}